# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
.build/

# Sistema operativo
.DS_Store

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Astro
.cache/
.astro/
node_modules/
