---
import BlogLayout from '../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BlogLayout>
  <h1 class="text-3xl font-bold mb-4">Bienvenido a Ñam</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a class="underline" href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</BlogLayout>
