---
layout: ../layouts/BaseLayout.astro
title: "¡Bienvenido a Ñam!"
---

<header>
  <div class="logo">
    <img src="/logo.png" alt="Ñam logo" />
  </div>
  <div class="menu-button" aria-label="Menú">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<div class="intro">¡Bienvenido a Ñam!</div>

<main>
  <ul>
    <li><a href="/casa-guedes">Casa Guedes y el sándwich brutal de Oporto</a></li>
    <li><a href="/bienvenida-1">¡Bienvenida a Ñam!</a></li>
    <li><a href="/bienvenida-2">¡Bienvenida a Ñam!</a></li>
    <li><a href="/poder-del-grit">El poder del Grit</a></li>
  </ul>
</main>
