---
const { frontmatter, children } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{frontmatter.title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <a href="/blog" class="back-btn">â† Volver</a>

    <article>
      <h1>{frontmatter.title}</h1>
      {children}
    </article>
  </body>
</html>
