---
import BlogLayout from '../layouts/BlogLayout.astro';
---
<BlogLayout>
  <h1 class="text-2xl font-bold mb-2">Sobre Ñam</h1>
  <p>Ñam es un blog gastronómico que explora sabores con historia.</p>
</BlogLayout>